// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 56px;
}

// カルーセル一覧
.portfolio-item {
  margin-bottom: 30px;
}

// ----- カルーセル ----- //

// カルーセル全体
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// ポートフォリオ画像
.p-img1 {
  background-image: url('/assets/furima-screenshot.jpeg');
}

.p-img2 {
  background-image: url('/assets/motorcycle-game-screenshot.png');
}

.p-img3 {
  background-image: url('/assets/quiz-game.png');
}

// ポートフォリオのタイトルと概要の枠
.carousel-caption {
  background: rgba(0,0,0,.7);
  a {
    color: white;
  }
}
