// Place all the styles related to the outputs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 投稿ページ

.o-form-page {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.o-form {
  text-align: center;
}

.o-title-form {
  height: 50px;
  width: 70vw;
  padding: 20px;
}

.o-text-form {
  height: 600px;
  width: 70vw;
  padding: 20px;
}

// 投稿ページ


// 一覧ページ(トップページに表示される分も含む)

.output-contents {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.output-list {
  width: 30vw;
  border: 1px solid gray;
  list-style: none;
  padding-left: 20px;
  margin-bottom: 10px;
}

.o-index-title {
  font-size: 20px;
  color: black;
}

  // アウトプット一覧ページへのリンク(詳細ページも含む)
.output-link {
  color: #1a0dab;
}

// 一覧ページ(トップページに表示される分も含む)