<h1>アウトプット一覧</h1>

<div class="output-contents">
  <ul>
  <% @outputs.each do |output| %>
    <li class="output-list">
      <div>
        <%= l(output.created_at, format: :long) %>に投稿
      </div>
      <div class="o-index-title">
        <b><%= output.title %></b>
      </div>
      <%# <div> %>
        <%#= markdown(output.text).html_safe %>
      <%# </div> %>
    </li>
  <% end %>
  </ul>
</div>