<h1>アウトプット一覧</h1>

<div class="output-contents">
  <ul>
  <% @outputs.each do |output| %>
    <li class="output-list">
      <div>
        <%= output.created_at %>に投稿
      </div>
      <div>
        <%= output.title %>
      </div>
    </li>
  <% end %>
  </ul>
</div>